body {
    text-align: center;
    background: black;
}
#loading {
    display: block;
    color: white;
	font-size: 26px;
	position: absolute;
	top: 50%;
	width: 100%;
	margin:-20px;
}
#loadsample {
    display: block;
    color: white;
    font-size: 26px;
    position: absolute;
	top: 40%;
	width: 100%;
	margin: 10px;
}